<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 | Kcal-cal</title>
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="/static/img/favicon.png"
      type="image/x-icon"
    />
    <!-- css: reset -->
    <link rel="stylesheet" href="/static/css/reset.css" />
    <!-- css: 404 -->
    <link rel="stylesheet" href="/static/css/404.css" />
  </head>

  <body>
    <h1>
      <a href="/">
        <img src="/static/img/logo_c.png" alt="kcal-cal logo" />
      </a>
    </h1>
    <h2>🚨404 Error애오 응애🚨</h2>
    <p>죄송합니다. 해당 url은 접근할 수 없는 주소입니다.</p>
    <a href="/" class="home">홈으로 돌아가기</a>
  </body>
</html>
