<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <!-- jQuery CDN-->
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <!-- css : layout -->
    <!-- <link rel="stylesheet" href="/static/css/layout.css" /> -->
    <!-- css : signup -->
    <link rel="stylesheet" href="/static/css/signup.css" />
  </head>

  <body>
    <div class="container">
      <div class="wrap">
        <div class="title">
          <h2>회원가입</h2>
          <span>가입을 통해 더 다양한 서비스를 만나보세요!</span>
        </div>
        <hr />

        <!-- action="/signup" method="post" -->
        <form name="form_register">
          <section id="firstSection">
            <div class="signupId">
              <input
                type="text"
                class="inputBox"
                name="userid"
                id="userid"
                placeholder="아이디 입력 (숫자, 영문 조합 5~12자리)"
                required
              />
              <button
                class="btn btn-outline-secondary"
                type="button"
                id="checkId"
                onclick="idCheck();"
              >
                중복 확인
              </button>
            </div>
            <div id="idError" class=""></div>

            <div class="signupPw">
              <input
                type="password"
                class="inputBox"
                name="userpw"
                id="userpw"
                placeholder="비밀번호 입력 (숫자, 영문, 특수문자 조합 8~16자리)"
                required
              />
              <div id="pwError" class="error"></div>
            </div>

            <div class="signupPwCheck">
              <input
                type="password"
                class="inputBox"
                name="checkpw"
                id="checkpw"
                placeholder="비밀번호 재입력"
                required
              />
              <div id="pwError" class="error"></div>
            </div>

            <div class="direction">
              <button
                type="button"
                class="btn"
                id="preBtn"
                onclick="location.href='/login'"
              >
                &lt; 로그인 페이지
              </button>
              <button
                type="button"
                class="btn"
                id="nextBtn"
                onclick="firstNext();"
              >
                다음 &gt;
              </button>
              <br />
            </div>
          </section>

          <section id="secondSection" class="d-none">
            <div class="emailBox">
              <label for="">이메일</label>
              <input
                type="email"
                class="inputBox"
                name="useremail"
                id="useremail"
                placeholder=""
                required
              />@
              <input type="text" class="inputBox" id="domainTxt" required />
              <select class="inputBox" id="domainList">
                <option value="type">직접입력</option>
                <option value="naver.com">naver.com</option>
                <option value="google.com">google.com</option>
                <option value="daum.net">daum.net</option>
              </select>
              <div id="emailError" class="error"></div>
            </div>

            <div class="oneline">
              <div class="nicknameBox">
                <label>닉네임</label>
                <input
                  type="text"
                  class="inputBox"
                  name="nickname"
                  id="nickname"
                  placeholder="영문, 숫자 16자 / 한글 8자 이내"
                  onkeyup="javascript:fnChkByte(this, '16')"
                />
                <div id="nameError" class="error"></div>
              </div>
              <div class="genderBox">
                <label>성별</label>
                <label>
                  <input
                    type="radio"
                    name="gender"
                    id="genderM"
                    value="M"
                    required
                  />
                  <span>남</span>
                </label>
                <label>
                  <input type="radio" name="gender" id="genderF" value="F" />
                  <span>여</span>
                </label>
              </div>
            </div>
            <div class="oneline no-oneline">
              <div class="ageBox">
                <label>나이</label>
                <input
                  type="number"
                  class="inputBox"
                  name="userage"
                  id="userage"
                  min="14"
                  max="99"
                  placeholder="14 ~ 99"
                  required
                />세
                <div id="ageError" class="error"></div>
              </div>

              <div class="heightBox">
                <label>키</label>
                <input
                  type="number"
                  class="inputBox"
                  name="userheight"
                  id="userheight"
                  min="100"
                  max="230"
                  placeholder="100 ~ 230"
                  required
                />cm
                <div id="heightError" class="error"></div>
              </div>
            </div>

            <div class="direction">
              <button
                type="button"
                class="btn"
                id="preBtn"
                onclick="firstBack();"
              >
                &lt; 이전
              </button>
              <button
                type="button"
                class="btn"
                id="nextBtn"
                onclick="secondNext();"
              >
                다음 &gt;
              </button>
              <br />
            </div>
          </section>

          <section id="thirdSection" class="d-none">
            <div class="weightBox">
              <label>몸무게</label>
              <input
                type="number"
                class="inputBox"
                name="userweight"
                id="userweight"
                min="10"
                max="999"
                required
              />kg
              <div id="weightError" class="error"></div>
            </div>
            <img src="/static/img/yoga.png" id="exImg" alt="설명대체이미지" />
            <div class="login">
              <div class="direction">
                <button
                  type="button"
                  class="btn"
                  id="preBtn"
                  onclick="secondBack();"
                >
                  &lt; 이전
                </button>
              </div>
              <button type="button" id="loginBtn" onclick="register();">
                가입완료!
              </button>
              <br />
            </div>
          </section>
        </form>
      </div>
    </div>

    <script src="/static/js/signup.js"></script>
  </body>
</html>
