<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>비만도 측정 | Kcal-cal</title>
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="/static/img/favicon.png"
      type="image/x-icon"
    />
    <!-- css: reset -->
    <link rel="stylesheet" href="/static/css/reset.css" />
    <!-- css: header -->
    <link rel="stylesheet" href="/static/css/header.css" />
    <!-- css : layout -->
    <link rel="stylesheet" href="/static/css/layout.css" />
    <!-- css : sub1 -->
    <link rel="stylesheet" href="/static/css/sub1.css" />
    <!-- fontawsome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <!-- xelcon -->
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"
    />
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  </head>

  <body>
    <div id="wrap">
      <%- include('header.ejs') %>

      <!-- main content -->
      <main>
        <section>
          <h2 class="hidden">Main Content</h2>
          <h3>키와 몸무게로 간단하게 자신의 비만도(BMI)를 확인해 보세요.</h3>
          <article class="BMI">
            <div class="form">
              <form
                id="bmiCheckForm"
                name="bmiCheckForm"
                onsubmit="event.preventDefault();"
              >
                <h4>신체정보</h4>
                <div class="length-box">
                  <% if (isLogin) { %>
                  <input
                    type="number"
                    id="length"
                    name="length"
                    placeholder="키를 입력하세요"
                    value="<%= result.height %>"
                  />
                  <% } else { %>
                  <input
                    type="number"
                    id="length"
                    name="length"
                    placeholder="키를 입력하세요"
                  />
                  <% } %>
                  <span>cm</span>
                </div>
                <div class="weight-box">
                  <input
                    type="number"
                    id="weight"
                    name="weight"
                    placeholder="몸무게를 입력하세요"
                  /><span>kg</span>
                </div>
                <span class="compute">
                  <input type="submit" id="btnCalc" value="계산하기" />
                  <input type="reset" class="reset" value="초기화" />
                </span>
              </form>
              <!-- 비만도 결과값 -->
              <div class="result">
                <span id="resultText"></span>
                <span id="bmiNumber"></span>
              </div>
            </div>
            <div class="info">
              <h4>비만도(BMI)란?</h4>
              <p>
                체질량지수는 카우프지수로 비만을 평가하는 지수이며 세계적으로
                쓰이는 공통표준 지수입니다.<br />
                체지방의 정도를 표준체중보다 비교적 정확하게 반영할 수 있고 매우
                간단히 규정할 수 있는 장점이 있습니다.
              </p>
              <h4>비만도의 산출방법</h4>
              <p>
                체질량지수 = 체중 &#40; kg &#41; / 키의 제곱 &#40; &#13217;
                &#41;
              </p>
            </div>
          </article>
          <article class="BMIgraph">
            <h3 class="hidden">BMI 그래프로 확인하기</h3>
            <p class="graphResult">
              결과가 궁금하시다면 신장과 체중을 입력해주세요!
            </p>
            <div class="bmi-box"></div>
            <ul class="graph">
              <li>
                <label>BMI</label>
                <label class="dv1">18.5</label>
                <label class="dv2">23</label>
                <label>25.00</label>
                <!-- <label>30.00</label> -->
                <ul class="clearfix graphWidth">
                  <li class="low-weight">저체중</li>
                  <li class="regular">정상</li>
                  <li class="overweight">과체중</li>
                  <li class="obesity">비만</li>
                  <!-- <li class="overObesity">고도비만</li> -->
                  <!-- <i class="fas fa-chevron-down home"></i> -->
                </ul>
                <label>체중</label>
              </li>
            </ul>
          </article>
        </section>
      </main>
    </div>
    <!-- 비만도 측정 js -->
    <script src="/static/js/sub1.js"></script>
    <!-- header js -->
    <script src="/static/js/header.js"></script>
  </body>
</html>
