<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>건강정보 | Kcal-cal</title>
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="/static/img/favicon.png"
      type="image/x-icon"
    />
    <!-- css: reset -->
    <link rel="stylesheet" href="/static/css/reset.css" />
    <!-- css: header -->
    <link rel="stylesheet" href="/static/css/header.css" />
    <!-- css : layout -->
    <link rel="stylesheet" href="/static/css/layout.css" />
    <!-- css : sub2 -->
    <link rel="stylesheet" href="/static/css/sub2.css" />
    <!-- fontawsome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <!-- xelcon -->
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"
    />
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  </head>

  <body>
    <div id="wrap">
      <%- include('header.ejs') %>

      <!-- main content -->
      <main>
        <section>
          <h2 class="hidden">Main Content</h2>
          <article>
            <h3>건강정보</h3>
            <div class="content_area">
              <div class="list_header">
                <form method="get" name="search">
                  <input
                    type="text"
                    id="searchInput"
                    placeholder="다양한 건강정보를 검색해보세요"
                  />
                  <button>검색</button>
                </form>
                <hr />
              </div>

              <div class="list_content">
                <div class="search"></div>
              </div>
            </div>
          </article>
        </section>
      </main>
    </div>

    <script src="/static/js/sub2.js"></script>
    <!-- header js -->
    <script src="/static/js/header.js"></script>
  </body>
</html>
