@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto:wght@100;300;400&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  background: #d9ebdf;
  width: 100vw;
  min-width: 320px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #ffffff;
  border: 0px solid black;
  border-radius: 20px;
  width: 50%;
  height: auto;
  text-align: center;
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.05);
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 40px;
}

.title {
  margin-top: 8px;
  text-align: center;
  padding: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  color: #777;
}

.title h2 {
  color: #3dad6b;
}

.inputBox {
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  max-width: 530px;
  padding: 15px;
  width: 100%;
  margin: 0px 0px 10px;
}

.inputBox:focus {
  border: 1px solid #34945c;
  background-color: #f7faf9;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  max-width: 530px;
  padding: 15px;
  width: 100%;
  margin: 0px 0px 10px;
}

.btn-outline-secondary {
  width: 100px;
}

.signupId input {
  font-size: 1em;
  display: inline;
  box-sizing: border-box;
  margin-top: 10px;
  width: 420px;
  margin-right: 10px;
}

.signupId input:focus {
  margin-top: 10px;
  margin-right: 10px;
  width: 420px;
}

#checkId {
  width: auto;
  font-size: 1em;
  display: inline;
  box-sizing: border-box;
  background: #3dad6b;
  color: white;
  padding: 15px;
}

#preBtn {
  width: auto;
  height: 100%;
  float: left;
  font-size: 1.2em;
  display: inline;
  box-sizing: border-box;
  /* background: #3dad6b; */
  color: #3dad6b;
  padding: 15px 20px;
  margin-right: 10px;
}

#nextBtn {
  width: auto;
  height: 100%;
  float: right;
  font-size: 1.2em;
  display: inline;
  box-sizing: border-box;
  /* background: #3dad6b; */
  color: #3dad6b;
  padding: 15px 20px;
  margin-right: 10px;
}

#checkId:hover {
  background: #34945c;
  color: white;
  text-decoration: underline;
}

#preBtn:hover,
#nextBtn:hover {
  color: #34945c;
  text-decoration: underline;
  font-weight: bold;
}

.signupId,
.signupPw {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signupId {
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

#firstSection {
  margin: 0 auto;
}

#loginBtn {
  text-transform: uppercase;
  outline: 0;
  background: #3dad6b;
  width: 100%;
  max-width: 530px;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 13px;
}

#loginBtn:hover,
#loginBtn:active,
#loginBtn:focus {
  background: #34945c;
  text-decoration: underline;
}

label {
  font-size: 16px;
  line-height: 2rem;
  padding: 0.2em 0.4em;
}

span {
  vertical-align: middle;
  color: #666;
}

[type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(1px, 0.1em) solid #777;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  transition: border 0.5s ease-in-out;
}

[type="radio"]:checked {
  border: 0.4em solid #3dad6b;
}

[type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(1px, 0.1em) dotted #3dad6b;
}

[type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

.oneline {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* email */
.emailBox {
  width: 100%;
  margin-top: 38px;
  margin-bottom: 10px;
}
#useremail {
  width: 40%;
}
#domainTxt,
#domainList {
  width: 20%;
}

/* name */
.nicknameBox {
  width: 60%;
  margin-bottom: 10px;
}

.nicknameBox #nickname {
  width: 70%;
}

/* gender */
.genderBox {
  width: 40%;
  margin-top: 5px;
  text-align: left;
}
.genderBox input {
  margin-right: 20px;
}
/* age */
.ageBox {
  width: 50%;
  margin-bottom: 10px;
}

.ageBox #userage {
  width: 58%;
}

/* height */
.heightBox {
  width: 50%;
  margin-bottom: 10px;
}

.heightBox #userheight {
  width: 58%;
}

/* weight */
.weightBox {
  margin-bottom: 10px;
}

.weightBox #userweight {
  width: 30%;
}

/* 몸무게_설명img */
#exImg {
  width: 90%;
  height: fit-content;
  margin-top: 10px;
  margin-bottom: 20px;
}

.d-none {
  display: none;
}

/* 에러 */
.error {
  color: red;
}

.correct {
  color: green;
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  body {
    background: #ffffff;
  }

  .container {
    width: 90%;
    border: 0rem solid #fff;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05);
    padding: 0px;
    margin: 0;
  }

  .signupId {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-right: 0px;
  }

  #preBtn {
    font-size: 1em;
    padding: 15px 10px;
  }
  #nextBtn {
    font-size: 1em;
    padding: 15px 10px;
    margin-right: 0px;
  }

  #userpw.inputBox {
    margin-top: 10px;
  }

  #userid {
    width: 100%;
    margin-right: 0px;
  }

  .direction {
    display: block;
    flex-direction: row;
  }

  .emailBox {
    display: flex;
    flex-direction: column;
  }

  .oneline {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #useremail {
    width: 100%;
  }
  #domainTxt,
  #domainList {
    width: 100%;
  }

  /* name */
  .nicknameBox {
    width: 100%;
    margin-bottom: 10px;
  }

  .nicknameBox #nickname {
    width: 100%;
  }

  /* gender */
  .genderBox {
    width: 100%;
    margin-top: 5px;
    text-align: left;
  }
  .genderBox input {
    margin-right: 20px;
  }
  /* age */
  .no-oneline {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    /* justify-content: space-between; */
  }
  .ageBox {
    width: 50%;
    margin-bottom: 10px;
    text-align: start;
  }

  .ageBox #userage {
    width: 60%;
  }

  /* height */
  .heightBox {
    width: 50%;
    margin-bottom: 10px;
    text-align: end;
  }

  .heightBox #userheight {
    width: 60%;
  }

  /* weight */
  .weightBox {
    margin-bottom: 10px;
  }

  .weightBox #userweight {
    width: 30%;
  }
  #secondSection {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
  }
}
