/* SUB1 */
section {
  height: 96vh;
  position: relative;
  overflow: hidden;
}

section h3 {
  padding: 30px 40px 0;
  margin: 20px 0 0 20px;
}

section h4 {
  margin-bottom: 10px;
}

.BMI {
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
}

.BMI h4 {
  font-size: 16pt;
  font-weight: bold;
  color: #34945c;
  margin-bottom: 15px;
}

.BMI .form {
  background: rgb(245, 245, 245);
  border-radius: 20px;
  padding: 30px 40px;
  width: 40%;
  /* height: 100%; */
  /* max-height: 420px; */
  height: 350px;
  margin-right: 20px;
  overflow: hidden;
}

.BMI .info {
  width: 60%;
  height: 350px;
  background: rgb(245, 245, 245);
  border-radius: 20px;
  padding: 30px 40px;
  overflow: hidden;
}

.BMI .info:nth-child(2) p {
  margin-bottom: 40px;
}

.BMIgraph {
  position: relative;
  left: 0;
  margin: 0 60px;
  max-height: 170px;
}

#result li {
  display: flex;
}

.graph .graphWidth {
  width: 100%;
  /* height: auto; */
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  overflow: hidden;
}

.graph li li {
  float: left;
  text-align: center;
  width: 25%;
  border: 5px solid transparent;
  color: #fff;
  font-weight: bold;
}

.graph li label {
  display: inline-block;
  width: 24.5%;
}

.BMIgraph .graphResult {
  text-align: center;
  padding: 20px;
  padding-top: 0;
  font-size: 1.2em;
  font-weight: 600;
}

.BMI .form #bmiCheckForm input {
  width: 100%;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  max-width: 530px;
  padding: 15px;
  margin: 2px;
}

.result {
  text-align: center;
  margin: 10px;
}

#result {
  padding: 10px 0;
}

#result li {
  display: flex;
}

#result h4 {
  font-size: 1.3em;
  font-weight: 500;
}

#result .graph {
  width: 100%;
  height: 10px;
  /* background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); */
  height: 200px;
  overflow: hidden;
}

.BMIgraph {
  position: relative;
  left: 0;
  background: #d9ebdf;
}

.compute input {
  padding: 11px;
  background: #3dad6b;
  color: #fff;
  cursor: pointer;
  border: 1px solid #3dad6b;
  font-weight: bold;
  transition: 0.3s all;
}

.compute input:hover {
  background: transparent !important;
  color: #3dad6b !important;
}

.graphWidth {
  position: relative;
}

.length-box,
.weight-box {
  position: relative;
}

.length-box span,
.weight-box span {
  position: absolute;
  right: 10%;
  top: 15px;
  z-index: 1;
  font-weight: bold;
  color: rgb(201, 201, 201);
}

@media screen and (max-width: 768px) {
  section {
    overflow: auto;
  }
  article {
    margin: 0;
    padding: 20px;
  }

  section h3 {
    margin: 0;
  }
  .BMIgraph {
    margin: 20px;
  }

  .BMIgraph .graphResult {
    font-size: 1em;
  }

  .BMI .form {
    width: 100%;
    margin-right: 0;
  }

  .BMI .info {
    display: none;
  }
  .graph li label {
    width: 23%;
  }
}
